:root {
    --color-primary: #264653;
    --color-secondary: #2a9d8f;
    --color-tertiary: #e9c46a;
    --color-quaternary: #f4a261;
    --color-quinary: #e76f51;
    --color-dark: #2c3e50;
    --color-light: #ecf0f1;

    --font-family-sans-serif: 'Open Sans', Arial, sans-serif;

    --font-size-base: 1.6rem;
    --font-size-large: 2.5rem;
    --font-size-small: 1rem;

    --line-height-base: 1.5;
    --line-height-large: 1.8;

    --font-weight-light: 300;
    --font-weight-normal: 400;

    --border-radius-base: 0.25rem;
    --border-radius-large: 0.5rem;

    --box-shadow-base: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    --box-shadow-large: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    --transition-base: 0.2s;
    --transition-fast: 0.1s;

    --spacing-base: 1rem;
    --spacing-large: 2rem;
    --spacing-small: 0.5rem;

    --width-base: 20rem;
    --width-large: 30rem;
    --width-small: 10rem;

    --height-base: 20rem;
    --height-large: 30rem;
    --height-small: 10rem;
}

* {
    box-sizing: border-box;
}

img {
    box-sizing: content-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;

    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    color: var(--color-light);
    background-color: var(--color-primary);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: var(--spacing-large);
    padding-right: var(--spacing-large);
}

nav a {
    color: var(--color-light);
    text-decoration: none;
}

nav div a {
    font-size: var(--font-size-small);
}

footer {
    padding-bottom: var(--spacing-base);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-base);

    transition: var(--transition-base);

    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);

    background-color: var(--color-light);
}

.card .card-body {
    cursor: pointer;
}

.card .card-footer {
    display: flex;
    justify-content: space-between;

    width: 100%;

    color: var(--color-dark);
    font-size: calc(var(--font-size-base) * 0.6);
}

.card .card-footer p {
    margin-bottom: 0;
    margin-top: 0;

    padding: var(--spacing-small);
}

.card .card-footer img.icon {
    margin-bottom: 0;
    margin-top: 0;

    padding: var(--spacing-small);

    cursor: pointer;
}

.card img {
    max-width: 100%;
    border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
}

img.icon {
    width: 24px;
    height: 24px;
}

#modal-photos, 
#modal-meta {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);

    display: none;
}

#modal-photos .modal-content,
#modal-meta .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#modal-photos .modal-content .modal-body,
#modal-meta .modal-content .modal-body {
    width: calc(100vw - var(--spacing-large));
}

#modal-meta .modal-content .modal-body.meta-info {
    background-color: var(--color-light);
    border-radius: var(--border-radius-base);
    padding: var(--spacing-small);

    color: var(--color-dark);

    display: block;
}

#modal-photos img.photo.side-by-side {
    max-width: 100%;
}

.beer-slider[data-beer-label]:after,
.beer-reveal[data-beer-label]:after {
    color: var(--color-dark);
}

img.close,
img.compare,
img.slide {
    width: 30px;
    height: 30px;
    margin: 0 var(--spacing-small);

    color: var(--color-light);
}

.pdf.gefy {
    text-align: center;
}

.pdf.gefy embed {
    width: 100%;
    min-height: 1100px;
}


@media (min-width: 768px) {
    #modal-photos .modal-content .modal-body,
    #modal-meta .modal-content .modal-body {
        width: calc(90vw - var(--spacing-large) * 2);
    }
}

@media (min-width: 1024px) {
    .photos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        width: calc(380px - var(--spacing-large) * 2);
    }

    #modal-photos .modal-content .modal-body,
    #modal-meta .modal-content .modal-body {
        display: flex;
        justify-content: center;
        width: calc(55vw - var(--spacing-large) * 2);
    }
}

@media (min-width: 1200px) {

    .card {
        width: calc(440px - var(--spacing-large) * 2);
    }
}

@media (min-width: 1400px) {

    .card {
        width: calc(490px - var(--spacing-large) * 2);
    }
}
